/* ========== global ========== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
/* ========== /global ========== */

/* ========== calculator ========== */
body {
	background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	background: rgba(52, 52, 52, 0.2);
	border-radius: 5px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(52, 52, 52, 0.3);
}

.calculator-grid > button:hover {
	background-color: lightgray;
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, .75);
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
	background: rgba(0, 0, 0, 0.70);
	border-radius: 5px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.output .previous-operand {
	color: rgba(255, 255, 255, .75);
	font-size: 1.5rem;
}

.output .current-operand {
	color: white;
	font-size: 2.5rem;
}
/* ========== /calculator ========== */